<!DOCTYPE html>
<html>
<head>
    <title> Progetto RDC LTW</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" lang="javascript" src="../js/bootstrap.min.js"></script> 
    <link rel=stylesheet href="../styles/index.css" type="text/css">
    <link rel=stylesheet href="../styles/courses.css" type="text/css">
    <link rel=stylesheet href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../styles/AboutUs.css" type="text/css"> 
    <script src="//code.jquery.com/jquery-3.5.0.min.js"></script>




    <script>
      $(document).ready(function(){
        $("#staffCard1").mouseenter(function(){
          $("#staffCard1").css("width", "350");
        }); 
        $("#staffCard1").mouseleave(function(){
          $("#staffCard1").css("width","300");
        });
        $("#staffCard2").mouseenter(function(){
          $("#staffCard2").css("width", "350");
        }); 
        $("#staffCard2").mouseleave(function(){
          $("#staffCard2").css("width","300");
        });
        $("#staffCard3").mouseenter(function(){
          $("#staffCard3").css("width", "350");
        }); 
        $("#staffCard3").mouseleave(function(){
          $("#staffCard3").css("width","300");
        });
      });
      </script>
  </head>
<body>

    <div class="header">
        <img src="../logo/logo_small.png" alt="JustClick">
        <p>Tutto il sapere a portata di click</p>
    </div>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-blue">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link fw-bold" aria-current="page" href="/">HOME</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  LOGIN
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/login">Accedi</a></li>
                  <li><a class="dropdown-item" href="/register">Registrati</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" href="/courses">COURSES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fw-bold" href="#">ABOUT US</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  PROFILO
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/personalArea">Il mio account</a></li>
                  <li><a class="dropdown-item" href="/manageAccount">Carica corso</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" action="/search">
              <input class="form-control me-2" type="search" id="search" name="search" placeholder="Search" aria-label="Search" required>
              <button class="btn  btn-outline-light" type="submit">Search</button>
            </form>           
          </div>
        </div>
      </nav>


    <!-- parte del body da modificare ognuno di noi -->

    <div class="homeheader"> 
        <div class="labelbar">
            <h1>About Us</h1>
            <h3>Vieni a scoprire qualcosa in pi&ugrave su di noi</h3>

        </div>
    


    </div>
    <div id="staff">
        <h2>Chi siamo</h2>
        <div class="staffCard" id="staffCard1">
            <img src="../img/employee-pngrepo-com.png" alt="NomeStaffer" />
        
            <div>
                <h4> Emanuele</h4>
                <span>Studente</span>
                <br>
                <br>
                <a href="https://www.facebook.com/emanuele.crestini.3" class="fa fa-facebook" target="_blank"></a>
                <a href="https://www.instagram.com/emanuele_crestini/" class="fa fa-instagram" target="_blank"></a>
                <a href="mailto:crestini.1844738@studenti.uniroma1.it?subject=Assistenza piattaforma JustClick" class="fa fa-envelope" ></a> </a>
            
            </div>
        </div>
        <div class="staffCard" id="staffCard2">
            <img src="../img/employee-pngrepo-com.png" alt="NomeStaffer" />
        
            <div>
                <h4> Valerio</h4>
                <span>Studente</span>
                <br>
                <br>
                <a href="https://www.facebook.com/valerio.deluca.948" class="fa fa-facebook" target="_blank"></a>
                <a href="https://www.instagram.com/vale_deluca99/" class="fa fa-instagram" target="_blank"></a>
                <a href="mailto:deluca.1851496@studenti.uniroma1.it?subject=Assistenza piattaforma JustClick" class="fa fa-envelope" ></a> </a>
            </div>
        </div>
        <div class="staffCard" id="staffCard3">
            <img src="../img/prova7.png"  alt="NomeStaffer"  />
        
            <div>
                <h4> Martina</h4>
                <span>Studentessa</span>
                <br>
                <br>
                <a href="https://www.facebook.com/martina.tombolini.3" class="fa fa-facebook" target="_blank"></a>
                <a href="https://www.instagram.com/marty_tombo/" class="fa fa-instagram" target="_blank"></a>
                <a href="mailto:tombolini.1844737@studenti.uniroma1.it?subject=Assistenza piattaforma JustClick" class="fa fa-envelope" ></a> </a>
            </div>
        </div>
        </div>
    </div>
    

    
    <!-- fine parte del body da modificare-->

    <div id="footer"></div>
    <script>
      $(function(){
      $("#footer").load("../views/footer.html");
      });
    </script>

</body>
</html>