<!DOCTYPE html>
<html>
<head>
    <title> Progetto RDC LTW</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" lang="javascript" src="../js/bootstrap.min.js"></script> 
    <link rel=stylesheet href="../styles/index.css" type="text/css">
    <link rel=stylesheet href="../styles/courses.css" type="text/css">
    <link rel=stylesheet href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../styles/AboutUs.css" type="text/css"> 
</head>
<body>

    <div class="header">
        <img src="../logo/logo_small.png" alt="JustClick">
        <p>Tutto il sapere a portata di click</p>
    </div>

    <div class="topnav sticky-sm-top">
        <a href="http://localhost:8889/index">Home</a>
        <a href="http://localhost:8889/login">LogIn</a>
        <a href="http://localhost:8889/courses">Courses</a>
        <a href="#">About Us</a>
        <a href="http://localhost/settings" style="float:right">Settings</a>
        
    </div>


    <!-- parte del body da modificare ognuno di noi -->

    <div class="homeheader"> 
        <div class="labelbar">
            <h1>About Us</h1>
            <h3>Vieni a scoprire qualcosa in pi&ugrave su di noi</h3>

        </div>
    


    </div>
    <div id="staff">
        <h2>Chi siamo</h2>
        <div class="staffCard">
            <img src="../img/employee-pngrepo-com.png" alt="NomeStaffer" />
        
            <div>
                <h4> Emanuele</h4>
                <span>Studente</span>
                <br>
                <br>
                <a href="https://www.facebook.com/emanuele.crestini.3" class="fa fa-facebook" target="_blank"></a>
                <a href="https://www.instagram.com/emanuele_crestini/" class="fa fa-instagram" target="_blank"></a>
                <a href="mailto:crestini.1844738@studenti.uniroma1.it?subject=Assistenza piattaforma JustClick" class="fa fa-envelope" ></a> </a>
            
            </div>
        </div>
        <div class="staffCard">
            <img src="../img/employee-pngrepo-com.png" alt="NomeStaffer" />
        
            <div>
                <h4> Valerio</h4>
                <span>Studente</span>
                <br>
                <br>
                <a href="https://www.facebook.com/valerio.deluca.948" class="fa fa-facebook" target="_blank"></a>
                <a href="https://www.instagram.com/vale_deluca99/" class="fa fa-instagram" target="_blank"></a>
                <a href="mailto:deluca.1851496@studenti.uniroma1.it?subject=Assistenza piattaforma JustClick" class="fa fa-envelope" ></a> </a>
            </div>
        </div>
        <div class="staffCard">
            <img src="../img/prova7.png"  alt="NomeStaffer"  />
        
            <div>
                <h4> Martina</h4>
                <span>Studentessa</span>
                <br>
                <br>
                <a href="https://www.facebook.com/martina.tombolini.3" class="fa fa-facebook" target="_blank"></a>
                <a href="https://www.instagram.com/marty_tombo/" class="fa fa-instagram" target="_blank"></a>
                <a href="mailto:tombolini.1844737@studenti.uniroma1.it?subject=Assistenza piattaforma JustClick" class="fa fa-envelope" ></a> </a>
            </div>
        </div>
        </div>
    </div>
    

    
    <!-- fine parte del body da modificare-->

    <footer>
        <h2>Seguici sui nostri canali social</h2>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-twitter"></a>
        <h2 class="logo">JustClick</h2>
        <div class="text-center">JustClick Copyright &copy; 2021 - Piattaforma tutorial </div>
    </footer>

</body>
</html>