<!DOCTYPE html>
<html>
<head>
    <title> Progetto RDC LTW</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" lang="javascript" src="../js/bootstrap.min.js"></script> 
    <link rel=stylesheet href="../styles/index.css" type="text/css">
    <link rel=stylesheet href="../styles/caricaCorso.css" type="text/css"> 
    <link rel=stylesheet href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/> 
    <script src="//code.jquery.com/jquery-3.5.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../JavascriptPersonal/caricaCorso.js"></script>
</head>
<body>

    <div class="header">
        <img src="../logo/logo_small.png" class="logo img-fluid" alt="JustClick">
        <p id="testologo">Tutto il sapere a portata di click</p>
    </div>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-blue">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link fw-bold" aria-current="page" href="/">HOME</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ACCEDI
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/login">Login/Logout</a></li>
                  <li><a class="dropdown-item" href="/register">Registrati</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" href="/courses">COURSES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" href="/AboutUs">ABOUT US</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  PROFILO
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/personalArea">Il mio account</a></li>
                  <li><a class="dropdown-item" href="/manageAccount">Carica corso</a></li>
                  <li><a class="dropdown-item" href="/caricaEvento">Carica evento</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" action="/search">
              <input class="form-control me-2" type="search" id="search" name="search" placeholder="Search" aria-label="Search" required>
              <button class="btn  btn-outline-light" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>


    <!-- parte del body da modificare ognuno di noi -->
  <div class="row g-0">
  <div class="center">
  <div class="card" id="zonaDinamica">
  <h1 id="prova">Carica un nuovo corso</h1>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:0%;" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

<form action="/carica" name="formprova" method="POST" enctype="multipart/form-data" onsubmit="return validaForm();">
  <div class="mb-3">
  <label for="validationTextarea" class="form-label">Titolo</label>
    <input class="form-control" name="titolo" type="text" id="validationTextarea" placeholder="Inserisci il titolo"/>
    </div>
    <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Descrizione</label>
    <textarea class="form-control" name="desc" id="exampleFormControlTextarea1" placeholder="Inserisci la descrizione del corso" rows="3" size="150" maxlength="150"></textarea>
    </div>
    <div class="mb-3">
    <select class="form-select" name="opt" aria-label="Default select example">
      <option value="nessuna" selected>Seleziona una categoria</option>
      <option value="Informatica">Informatica</option>
      <option value="Moda e bellezza">Moda e bellezza</option>
      <option value="Musica">Musica</option>
      <option value="Notizie">Notizie</option>
      <option value="Scuola">Scuola</option>
      <option value="Sport">Sport</option>
      <option value="Videogiochi">Videogiochi</option>
    </select>
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Inserisci l'immagine di profilo del corso</label>
      <input type="file" accept="image/*" name="image" class="form-control" id="image">
  </div>

  <div class="mb-3">
      <label for="formFileMultiple" class="form-label">Inserisci il materiale del corso (video, immagini, appunti, ecc.)</label>
      <input type="file" class="form-control" name="materiale" id="materiale">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Inserisci la descrizione relativa al materiale</label>
    <textarea class="form-control" name="descMateriale" id="descMateriale" placeholder="Inserisci la descrizione" rows="3"></textarea>
  </div>

  <div class="mb-3">
      <input class="btn btn-primary" type="submit" id="invio" value="Carica corso">
      <input class="btn btn-primary" type="reset" id="reset" value="Cancella tutto">
  </div>

</form>
</div>
</div>
</div>
    
                  

                            

       
      

    
    <!-- fine parte del body da modificare-->

    <div id="footer"></div>
    <script>
      $(function(){
      $("#footer").load("../views/footer.html");
      });
    </script>

</body>
</html>

