<!DOCTYPE html>
<html>
<head>
    <title> Progetto RDC LTW</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" lang="javascript" src="../js/bootstrap.min.js"></script> 
    <link rel=stylesheet href="../styles/index.css" type="text/css">
    <link rel=stylesheet href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel=stylesheet href="../styles/caricaCorso.css" type="text/css">
</head>
<body>

    


    <!-- parte del body da modificare ognuno di noi -->
        <h1>Completa il tuo corso</h1>

    <form class="was-validated" method="GET">
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
      </div>
        
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Inserisci l'immagine del corso</label>
            <input type="file" enctype="multipart/form-data" accept="image/*" class="form-control" id="formFileMultiple" multiple>
        </div>

        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Inserisci il materiale del corso (video, immagini, appunti, ecc.)</label>
            <input type="file" enctype="multipart/form-data" class="form-control" id="formFileMultiple" multiple>
        </div>

        <div class="mb-3">
            <input class="btn btn-primary" type="submit" id="invio" value="Invia" onclick="return validaForm()">
        </div>

        

    </form>
    <!-- fine parte del body da modificare-->
</body>
</html>