<!DOCTYPE html>
<html>
<head>
    <title> Progetto RDC LTW</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" lang="javascript" src="../js/bootstrap.min.js"></script> 
    <link rel=stylesheet href="../styles/index.css" type="text/css">
    <link rel=stylesheet href="../styles/caricaCorso.css" type="text/css"> 
    <link rel=stylesheet href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/> 
    <script src="//code.jquery.com/jquery-3.5.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../JavascriptPersonal/caricaEvento.js"></script>
</head>
<body>

    <div class="header">
        <img src="../logo/logo_small.png" class="logo img-fluid" alt="JustClick">
        <p id="testologo">Tutto il sapere a portata di click</p>
    </div>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-blue">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link fw-bold" aria-current="page" href="/">HOME</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ACCEDI
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/login">Login/Logout</a></li>
                  <li><a class="dropdown-item" href="/register">Registrati</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" href="/courses">COURSES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" href="/AboutUs">ABOUT US</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  PROFILO
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/personalArea">Il mio account</a></li>
                  <li><a class="dropdown-item" href="/manageAccount">Carica corso</a></li>
                  <li><a class="dropdown-item" href="#">Carica evento</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" action="/search">
              <input class="form-control me-2" type="search" id="search" name="search" placeholder="Search" aria-label="Search" required>
              <button class="btn  btn-outline-light" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>


    <!-- parte del body da modificare ognuno di noi -->
    <div class="homeheader2">
      <div class="labelbar">
          <h1>Carica un nuovo evento</h1>

      </div>
    </div>
  <div class="row g-0">
  <div class="center">
  <div class="card" id="zonaDinamica">
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:0%;" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

<form action="/update/evento" name="formprova" method="POST" enctype="multipart/form-data">
  <div class="mb-3">
  <label for="validationTextarea" class="form-label">Nome evento</label>
    <input class="form-control" name="titolo" type="text" id="validationTextarea" placeholder="Inserisci il nome dell'evento"/>
    </div>
    <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Descrizione</label>
    <textarea class="form-control" name="desc" id="exampleFormControlTextarea1" placeholder="Inserisci la descrizione dell'evento" rows="3" size="150" maxlength="150"></textarea>
    </div>
    <div class="mb-3">
    <div class="corpoScelta" id="corpoScelta" name="corpoScelta">  
    </div>
    <script type="text/javascript">
      $(document).ready(tendinaCaricaEventi());
    </script>
    </div>
    <!-- <div class="mb-3">
        <label for="datetime_local" >Inserisci giorno e orario di <b>inizio</b> evento</label><br>
          <input type="date"  id="date" name="dataInizio" />
          <input type="time" id="time" name="oraInizio"/>
    </div>
    <div class="mb-3">
        <label for="datetime_local" >Inserisci giorno e orario di <b>fine</b> evento</label><br>
        <input type="date"  id="date" name="dataFine"/>
        <input type="time" id="time" name="oraFine"/>
    </div>
        <input type="date"  id="date" />
        <input type="time" id="time"/>
    </div> -->

    <label for="datetime_local" >input con datetime-local</label><br>
    <input type="datetime-local" name="dataFine"/></br>

    <label for="datetime_local" >input con date + (numero intero da 0 a 23)</label><br>
    <input type="date" name="dataFine"/> <input type="number" name="dataFine" min="0" max="23"/><br>

    <label for="datetime_local" >input con date + (numero decimale da 0,00 a 23,59)</label><br>
    <input type="date" name="dataFine"/> <input type="number" name="dataFine" min="0.00" max="23.59" step="0.01"/><br>

    <label for="datetime_local" >input con date + ora (da 0 a 23) : minuti(multiplo di 5)</label><br>
    <input type="date" name="dataFine"/> <input type="number" name="dataFine" min="0" max="23"/> : <input type="number" name="dataFine" step="5" min="00" max="59"/>







    <div class="mb-3">
        <label for="validationTextarea" class="form-label">Via dell'evento</label>
          <input class="form-control" name="via" type="text" id="validationTextarea" placeholder="Inserisci la via dell'evento"/>
    </div>
    <div class="mb-3">
      <label for="validationTextarea" class="form-label">Città evento</label>
        <input class="form-control" name="citta" type="text" id="validationTextarea" placeholder="Inserisci la città dell'evento"/>
      </div>
    

  <div class="mb-3">
      <input class="btn btn-primary" type="submit" id="invio" value="Carica evento">
      <input class="btn btn-primary" type="reset" id="reset" value="Cancella tutto">
  </div>

</form>
</div>
</div>
</div>
    
                  

                            

       
      

    
    <!-- fine parte del body da modificare-->

    <div id="footer"></div>
    <script>
      $(function(){
      $("#footer").load("../views/footer.html");
      });
    </script>

</body>
</html>

