<!DOCTYPE html>
<html>
<head>
    <title> Progetto RDC LTW</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" lang="javascript" src="../js/bootstrap.min.js"></script> 
    <link rel=stylesheet href="../styles/index.css" type="text/css">
    <link rel=stylesheet href="../styles/courses.css" type="text/css">
    <link rel=stylesheet href="../styles/corsi.css" type="text/css">
    <link rel=stylesheet href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../styles/AboutUs.css" type="text/css"> 
    <script src="//code.jquery.com/jquery-3.5.0.min.js"></script>
</head>
<body>

    <div class="header">
        <img src="../logo/logo_small.png" alt="JustClick">
        <p>Tutto il sapere a portata di click</p>
    </div>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-blue" id="1">
      <div class="container-fluid" id="2">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link fw-bold" aria-current="page" href="/" id="home">HOME</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                LOGIN
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/login">Accedi</a></li>
                <li><a class="dropdown-item" href="/register">Registarti</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-bold" href="#">COURSES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="/AboutUs">ABOUT US</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                PROFILO
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/manageAccount">Gestisci account</a></li>
                <li><a class="dropdown-item" href="/personalArea">Il mio account</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" action="/search">
            <input class="form-control me-2" type="search" id="search" name="search" placeholder="Search" aria-label="Search" required>
            <button class="btn  btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>


    <!-- parte del body da modificare ognuno di noi -->
    <div class="center">
      <h2>CATEGORIE</h2>
      <div class="row">
        <div class="col categoria text-center" > 
          <a href="/courses3?q=Informatica">
            <img src="../img/categoryImgs/Informatica.jpeg" class="img-fluid bds informatica" alt="JustClick">
          </a>  
        </div>
        <div class="col categoria text-center" > 
          <a href="/courses3?q=Moda+e+bellezza"> 
            <img src="../img/categoryImgs/Moda.jpeg" class="img-fluid bds moda" alt="JustClick">
          </a>  
        </div>
        <div class="col categoria text-center" > 
          <a href="/courses3?q=Musica">
            <img src="../img/categoryImgs/Musica.jpeg" class="img-fluid bds musica" alt="JustClick">
          </a>  
        </div>
        <div class="col categoria text-center" > 
          <a href="/courses3?q=Notizie">
            <img src="../img/categoryImgs/Notizie.jpeg" class="img-fluid bds notizie" alt="JustClick">
          </a>  
        </div>
      </div>
      <div class="row">
        <div class="col categoria text-center" > 
          <a href="/courses3?q=Sport">
            <img src="../img/categoryImgs/Sport.jpeg" class="img-fluid bds sport" alt="JustClick">
          </a>  
        </div>
        <div class="col categoria text-center" > 
          <a href="/courses3?q=Videogiochi">
            <img src="../img/categoryImgs/Videogiochi.jpeg" class="img-fluid bds videogiochi" alt="JustClick">
          </a>  
        </div>
        <div class="col categoria text-center" > 
          <a href="/courses3?q=Scuola">
            <img src="../img/categoryImgs/Scuola.jpeg" class="img-fluid bds scuola" alt="JustClick">
          </a>  
        </div>
        <div class="col categoria text-center" > 
          <a href="/courses3?q=Popolari">
            <img src="../img/categoryImgs/Popolari.jpeg" class="img-fluid bds popolari" alt="JustClick">
          </a>  
        </div>
      </div>
      
    </div>
    
    <!-- fine parte del body da modificare-->

    <div id="footer"></div>
    <script>
      $(function(){
      $("#footer").load("../views/footer.html");
      });
    </script>

</body>
</html>