<!DOCTYPE html>
<html>
<head>
    <title> Progetto RDC LTW</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" lang="javascript" src="../js/bootstrap.min.js"></script> 
    <link rel=stylesheet href="../styles/index.css" type="text/css">
    <link rel=stylesheet href="../styles/courses.css" type="text/css">
    <link rel=stylesheet href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>

    <div class="header">
        <img src="../logo/logo_small.png" alt="JustClick">
        <p>Tutto il sapere a portata di click</p>
    </div>

    <div class="topnav sticky-sm-top">
        <a href="#">Home</a>
        <a href="http://localhost:8889/login">LogIn</a>
        <a href="http://localhost/resources">Resources</a>
        <a href="http://localhost/settings" style="float:right">Settings</a>
        
        <!--<form class="modulo-ricerca">
            <input id="search" type="text" placeholder="Cerca per..." required>
            <input id="submit" type="submit" value="CERCA">
        </form>-->
    </div>


    <!-- parte del body da modificare ognuno di noi -->

    <div class="center">

        <!-- immagine profilo e copertina -->
        <div class="coverimage">
            <div class="text-center">
                <!-- immagine circolare con bordo-->
                <img src="../img/default_image.png" class="profileimage img-fluid img-thumbnail rounded-circle w-25 p-3" alt="JustClick">
                <div class="profilename">Template corso</div>
            </div>
        </div>
    
        <!-- informazioni varie -->
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1> Follower: 0</h1> 
                </div>
                <div class="col text-center">
                    <h1> Pubblicazioni: 0</h1> 
                </div>
            </div>
    
            <div class="row">
                <div class="col text-center">
                    <div class="btn btn-outline-success">Iscriviti al canale</div>
                </div>
                <div class="col text-center">
                    <div class="btn btn-outline-success">Visualizza materiale</div>
                </div>
            </div>
        </div>
        

        <!-- materiale in evidenza -->
        <div class="row content-row">

            <div class="col">
                <div class="card h-100 border-primary mb-3 sized-card">
                    <div class="card-header text-dark bg-primary mb-3">Titolo</div>
                    <img src="../img/default_courses.jpeg" class="card-img-top" alt="JustClick">
                    <div class="card-body text-primary">
                      <h5 class="card-title">Materiale in evidenza</h5>
                      <p class="card-text">Aggiungi qui i tuoi eventi più interessanti o il materiale più importante per i tuoi follower!</p>
                    </div>
                  </div>
            </div>
    
            <div class="col">
                <div class="card h-100 border-primary mb-3 sized-card">
                    <div class="card-header text-dark bg-primary mb-3">Titolo</div>
                    <img src="../img/default_courses.jpeg" class="card-img-top" alt="JustClick">
                    <div class="card-body text-primary">
                      <h5 class="card-title">Materiale in evidenza</h5>
                      <p class="card-text">Aggiungi qui i tuoi eventi più interessanti o il materiale più importante per i tuoi follower!</p>
                    </div>
                  </div>
            </div>
    
            <div class="col">
                <div class="card h-100 border-primary mb-3 sized-card">
                    <div class="card-header text-dark bg-primary mb-3">Titolo</div>
                    <img src="../img/default_courses.jpeg" class="card-img-top" alt="JustClick">
                    <div class="card-body text-primary">
                      <h5 class="card-title">Materiale in evidenza</h5>
                      <p class="card-text">Aggiungi qui i tuoi eventi più interessanti o il materiale più importante per i tuoi follower!</p>
                    </div>
                  </div>
            </div>

        </div>
 
        <!-- elenco dei corsi-->
        <div class="courses bds text-center" >          
            <h2>Questo è l'ultimo corso appena caricato! <span class="badge rounded-pill bg-success">NEW!</span></h2>
            <img src="../img/default_school.png" class="img-fluid" alt="JustClick">
            <h5 class="card-text">Una breve descrizione può sempre aiutare!</h5>
        </div>
    
        <div class="courses bds text-center">
            <h2>Questo è l'ultimo materiale appena caricato! <span class="badge rounded-pill bg-success">NEW!</span></h2>          
            <img src="../img/default_books.jpeg" class="img-fluid" alt="JustClick">
            <h5 class="card-text">Una breve descrizione può sempre aiutare!</h5>
        </div>
    
        <div class="courses bds text-center">
            <h2>Questo è l'ultimo evento appena caricato! <span class="badge rounded-pill bg-success">NEW!</span></h2>          
            <img src="../img/default_event.jpeg" class="img-fluid" alt="JustClick">
            <h5 class="card-text">Una breve descrizione può sempre aiutare!</h5>
        </div>


        <!-- cambia pagina per altri corsi-->
        <nav aria-label="Search other courses">
            <ul class="pagination center switchcourses">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <!-- decommenta per disabilitare --
              <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li> -->
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    
    </div>
    
    

    
    <!-- fine parte del body da modificare-->

    <footer>
        <h2>Seguici sui nostri canali social</h2>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-twitter"></a>
        <h2 class="logo">JustClick</h2>
        <div class="text-center">JustClick Copyright &copy; 2021 - Piattaforma tutorial </div>
    </footer>

</body>
</html>