<!DOCTYPE html>
<html>
 <head>
    <title> Progetto RDC LTW</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script type="text/javascript" lang="javascript" src="js/bootstrap.bundle.min.js"></script> 
        <script type="text/javascript" lang="javascript" src="JavascriptPersonal/form_validazione.js"></script>
        <script type="text/javascript" lang="javascript" src="../JavascriptPersonal/loginLogout.js"></script>
        <link rel=stylesheet href="../styles/index.css" type="text/css">
        <link rel=stylesheet href="../styles/LoginRegister.css" type="text/css">
        <link rel=stylesheet href="../css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <script src="//code.jquery.com/jquery-3.5.0.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="579387928595-2gdmsv73ukvsu48u6i7m6jb3b6vnosdm.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
      </head>
<body>

    <div class="header">
        <img src="../logo/logo_small.png" class="logo img-fluid" alt="JustClick">
        <p id="testologo">Tutto il sapere a portata di click</p>
    </div>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-blue">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link fw-bold" aria-current="page" href="/">HOME</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                ACCEDI
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/login">Login/Logout</a></li>
                <li><a class="dropdown-item" href="/register">Registrati</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="/courses">COURSES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="/AboutUs">ABOUT US</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                PROFILO
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/personalArea">Il mio account</a></li>
                <li><a class="dropdown-item" href="/manageAccount">Carica corso</a></li>
                <li><a class="dropdown-item" href="/caricaEvento">Carica evento</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" action="/search">
            <input class="form-control me-2" type="search" id="search" name="search" placeholder="Search" aria-label="Search" required>
            <button class="btn  btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="row g-0">
        <div class="leftcolumn">
            <div class="text-center">
                 <form  action="/login/auth" class="form-Login" method="POST" name="loginsend" id="loginsend">
                    <div class="form-inner" id="login">
                        
                        <%if(!success) {%>
                        <div class="corpo-login" id="corpo-login">
                          <h3>Login</h3>
                          <hr id="linea">
                          <% if (logout) { %>
                            <p class="alert alert-success mt-4"><%= logout%></p>
                          <% } %>
                          <label for="Username">Username</label>
                          <input type="text" name="Username" id="Username" oninvalid="this.setCustomValidity('Campo vuoto')" oninput="setCustomValidity('')" required/>
                          <label for="Password">Password</label>
                          <input type="password" name="Password"id="Password" oninvalid="this.setCustomValidity('Campo vuoto')" oninput="setCustomValidity('')" required/>
                          <input type="submit" value="Inviare"> 
                          <h6>OPPURE</h6>
                          <div id="my-signin2" class="btn"></div><br>

                          
                          
                          <pippo>Non hai un account? <a href="/register">Registrati</a></pippo>
                          <br>
                          <br>
                          <div  id=errorMessage></div>
                        </div>

                        <script>
                          function onSuccess(googleUser) {
                            var id_token = googleUser.getAuthResponse().id_token;
                            var xhr = new XMLHttpRequest();
                            xhr.open('POST', '/auth/loginGoogle');
                            xhr.setRequestHeader('Content-Type', 'application/json');
                            xhr.onload = function() {
                              console.log('Signed in as: ' + xhr.responseText);
                            };
                            xhr.send(JSON.stringify({token:id_token}));
                            window.location.href = '/personalArea';
                          }
                        </script>
                        
                        

                        <% if (errormessage) { %>
                            <p class="alert alert-danger mt-4"><%= errormessage%></p>
                        <% } %>
                        <% } %>
                        <% if (success) { %>
                          <script type="text/javascript">
                            /*var utente = "Ciao  <%= success%>!";
                            var personalPage='<pippo><a href="/personalArea">Vai alla tua area personale</a></pippo>';
                            var logout="Per eseguire il LOGOUT <a href='/logout' onclick='signOut()'>clicca qui</a>"
                            html='<h3>Accesso effettuato</h3><br><p class="alert alert-success">' + utente +' '+personalPage+'<br>'+logout+ '</p>';
                            $("#corpo-login").html(html);*/

                          </script>
                          <h3>Accesso effettuato</h3><br><p class="alert alert-success">Ciao  <%= success%>!
                          <pippo><a href="/personalArea">Vai alla tua area personale</a></pippo>
                          <br>
                          
                          Per eseguire il LOGOUT <a href='/logout' onclick='signOut()'>clicca qui</a></p>
                          <div id="my-signin2"  hidden></div>
                          <script>
                            function onSuccess(googleUser) {
                              var id_token = googleUser.getAuthResponse().id_token;
                              var xhr = new XMLHttpRequest();
                              xhr.open('POST', '/auth/loginGoogle');
                              xhr.setRequestHeader('Content-Type', 'application/json');
                              xhr.onload = function() {
                                console.log('Signed in as: ' + xhr.responseText);
                              };
                            }
                          </script>
                        <% } %>
                    </div>


                    
                    <script type="text/javascript">
                      
                      function onFailure(error) {
                        console.log(error);
                      }
                      function renderButton() {
                        gapi.signin2.render('my-signin2', {
                          'scope': 'profile email',
                          'width': 240,
                          'height': 50,
                          'longtitle': true,
                          'theme': 'dark',
                          'onsuccess': onSuccess,
                          'onfailure': onFailure
                        });
                      }
                      function signOut() {
                        var auth2 = gapi.auth2.getAuthInstance();
                        auth2.signOut().then(function () {
                          alert('User signed out.');
                        });
                      }
                    </script>
                </form>


            </div>

        </div>
    </div>

    <div id="footer"></div>
    <script>
      $(function(){
      $("#footer").load("../views/footer.html");
      });
    </script>

</body>
</html>