<!DOCTYPE html>
<html>
  <head>
    <title> Progetto RDC LTW</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script type="text/javascript" lang="javascript" src="js/bootstrap.bundle.min.js"></script> 
        <script type="text/javascript" lang="javascript" src="JavascriptPersonal/form_validazione.js"></script> 
        <link rel=stylesheet href="../styles/index.css" type="text/css">
        <link rel=stylesheet href="../styles/LoginRegister.css" type="text/css">
        <link rel=stylesheet href="../css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <script src="//code.jquery.com/jquery-3.5.0.min.js"></script>
  </head>
<body>

    <div class="header">
        <img src="../logo/logo_small.png" class="logo img-fluid" alt="JustClick">
        <p id="testologo">Tutto il sapere a portata di click</p>
    </div>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-blue">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link fw-bold" aria-current="page" href="/">HOME</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                LOGIN
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/login">Accedi</a></li>
                <li><a class="dropdown-item" href="http://localhost:8889/register">Registati</a></li>
              </ul>
            </li>



            <li class="nav-item">
              <a class="nav-link fw-bold" href="/courses">COURSES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="/AboutUs">ABOUT US</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                PROFILO
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/personalArea">Il mio account</a></li>
                <li><a class="dropdown-item" href="/manageAccount">Carica corso</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" action="/search">
            <input class="form-control me-2" type="search" id="search" name="search" placeholder="Search" aria-label="Search" required>
            <button class="btn  btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>


        <div class="leftcolumn">
            <div class="text-center">
              <form action="http://localhost:8889/register/auth" class="form-Register"  method="post" name="registration" onsubmit="return formValidationRegister()">
                    <div class="form-inner">
                     <h3>Registrazione</h3> 
                     <hr id="linea">
                     <% if (errormessage) { %>
                      <% switch (errormessage.err) { 
                        case 'ERR' : %>
                        
                            <p class="alert alert-danger mt-4"> 
                              <strong>Ops!</strong> <%= errormessage.msg%>
                            </p>
                            <% break;
                        case 'OK' : %>
                           
                            <p class="alert alert-success mt-4">
                            
                            <strong>Well done!</strong> <%= errormessage.msg%> 
                            <br>
                            <a href="http://localhost:8889/login">Vai al login!</a>
                            </p>
                            <% break;
                        } %>
                      <% } %>
                      
                        <label for="Username">Username*</label>
                        <input type="text" name="Username" placeholder="6-15 caratteri"  required />
                        <label for="Name">Nome*</label>
                        <input type="text" name="Name"   required/>
                        <label for="Surname">Cognome*</label>
                        <input type="text" name="Surname"  required/>
                        <label for="Date">Data di nascita*</label>
                        <input type="date" name="Date" placeholder="mm/dd/yyyy"  required/>
                        <label for="Email">E-mail*</label>
                        <input type="email" name="Email"  placeholder="123@prova.it" required/>
                        <label for="Password">Password*</label>
                        <input type="password" name="Password" placeholder="Utilizzare lettere maiuscole,minuscole e numeri"  required/>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Con la seguente si accettano i termini e condizioni.
                          </label>
                        </div>
                        <input type="submit" value="Inviare">
                        <pippo>Sei già registrato? <a href="http://localhost:8889/login">Accedi</a></pippo>
                      
                      
                    </div>
                 </form>


            </div>

    <div id="footer"></div>
    <script>
      $(function(){
      $("#footer").load("../views/footer.html");
      });
    </script>

</body>
</html>