<!DOCTYPE html>
<html>
<head>
    <title> Progetto RDC LTW</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script type="text/javascript" lang="javascript" src="JavascriptPersonal/form_validazione.js"></script> 
        <link rel=stylesheet href="../styles/index.css" type="text/css">
        
</head>
<body>

    <div class="header">
        <img src="../logo/logo_small.png" alt="JustClick">
        <p>Tutto il sapere a portata di click</p>
    </div>

    <div class="topnav">
        <a href="#">Home</a>
        <a href="http://localhost/login">LogIn</a>
        <a href="http://localhost/resources">Resources</a>
        <a href="#" style="float:right">Settings</a>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="text-center">
                <form action="http://localhost:8889/registerInsert" class="form-Register"  method="GET" name="registration" onsubmit="return formValidationRegister()">
                    <div class="form-inner">
                     <h3>Registrazione</h3> 
                      
                      <label for="Username">Username</label>
                      <input type="text" name="Username"   required />
                      <label for="Name">Nome</label>
                      <input type="text" name="Name"   required/>
                      <label for="Surname">Cognome</label>
                      <input type="text" name="Surname"  required/>
                      <label for="Date">Data di nascita</label>
                      <input type="date" name="Date"   required/>
                      <label for="Email">E-mail</label>
                      <input type="email" name="Email"  placeholder="123@prova.it" required/>
                      <label for="password">Password</label>
                      <input type="password" name="Password"   required/>
                      <input type="checkbox" id="custom-checkbox" required/>
                      <label for="custom-checkbox">Con la seguente si accettano i termini e condizioni. </label>
                      <input type="submit" value="Inviare">
                      <pippo>se già registrato?<a href="http://localhost:8889/login">Accedi</a></pippo>
                   </div>
                 </form>


            </div>

        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>About Me..</h2>
                <div class="fakeimg" style="height:100px;">Image</div>
                <p>Some text..</p>
            </div>
            <div class="card">
                <h3>Popular Post</h3>
                <div class="fakeimg"><p>Image</p></div>
                <div class="fakeimg"><p>Image</p></div>
                <div class="fakeimg"><p>Image</p></div>
            </div>
            <div class="card">
                <h3>Follow Me</h3>
                <p>Some text..</p>
            </div>
        </div>
    </div>

<div class="footer">
  <h2>This site was created for educational purposes by the students Crestini Emanuele, Tombolini
    Martina and De Luca Valerio</h2>
</div>

</body>
</html>