.homeheader{
    background-image: url("../img/caricaCorso.PNG");
    background-size:cover;
    padding-top: 100px;
    padding-bottom: 100px;
}
.homeheader2{
    background-image: url("../img/caricaEvento.png");
    background-size:cover;
    padding-top: 80px;
    padding-bottom: 80px;
}

.labelbar{
    color: white;
    background-color: rgba(95, 99, 112, 0.5);
    text-align: center;
    padding: 25px;
    /*height: auto;*/
    margin-top: auto;
    margin-bottom: auto;
}

.labelbar h3{
    margin: 3%;
}

.center{
    background-color: rgb(179, 231, 235);
    padding: 0px;
    margin: 0px;
  }

  
  .card{
    color:rgb(0, 89, 255);
    border: 5px solid blue;
    box-shadow: 10px 10px 5px blue;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 60px;
    background-color: white;
    width: 550px;
    background-image: url(/public/img/sfondoRegistrazione.png);
    background: linear-gradient(to right bottom,rgba(43, 44, 78, .5),rgba(104, 22, 96, .5));
    background-size: cover;
}

h1{
  color: white;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-shadow: 0.1em 0.1em 0.15em #333;
}
#prova{
    font-size: 35px;
}


.pagina{
    float: right;
}

#obbligo{
    font-size: small;
}

#zonaDinamica{
    border: 5px solid blue;
}

.progress{
    margin-top: 20px;
    margin-bottom: 20px;
}

#datetime_local{
    margin-bottom: 8px;
}

.alert{
    width: 70%;
    margin:auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 500px){
    .card{
        width: 300px;
    }
    #prova{
        font-size: 18px;
    }
    #invio{
        margin-bottom: 10px;
    }
    #reset{
        margin-bottom: 10px;
    }
    .alert{
        font-size: 14px;
      }
    
  }
