.container{
    background-color: rgb(179, 231, 235);
    padding: 0px;
    margin: 0px;
  }

  
  .card{
    color:rgb(0, 89, 255);
    border: 5px solid blue;
    box-shadow: 10px 10px 5px blue;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: white;
    width: 550px;
    background-image: url(/public/img/sfondoRegistrazione.png);
    background: linear-gradient(to right bottom,rgba(43, 44, 78, .5),rgba(104, 22, 96, .5));
    background-size: cover;
}

h1{
  color: white;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-shadow: 0.1em 0.1em 0.15em #333;
}
#prova{
    font-size: 35px;
}


.pagina{
    float: right;
}

#zonaDinamica{
    border: 5px solid blue;
}

.progress{
    margin-top: 20px;
    margin-bottom: 20px;
}

