.card{
    color:rgb(0, 89, 255);
    border: 5px solid blue;
    box-shadow: 10px 10px 5px blue;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: white;
    width: 550px;
    background-image: url(/public/img/sfondoRegistrazione.png);
    background: linear-gradient(to right bottom,rgba(43, 44, 78, .5),rgba(104, 22, 96, .5));
    background-size: cover;
}

h1{
    font-family: "Arial Black";
    text-shadow: 2px 2px 3px blue;
}



.pagina{
    float: right;
}

#zonaDinamica{
    border: 5px solid blue;
}