.bds{
    border-style:solid;
    border-radius: 20px;
    border-color: blue;
    border-width: thin;
    width: 20px;
}

.categoria{
    width: 20%;
    height: 250px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-size: 100% 250px;
    box-shadow: 10px 10px;
}

.informatica{
    background-image: url("../img/sfondo1.png");
}

.categoria h2{
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    font-weight:bolder;
    text-align: center;
    margin-top: 50px;
}

/*.categoria img{
    height: 100px;
}*/