.center{
  background-color: rgb(179, 231, 235);
  padding: 0px;
  margin:0px;
}

.coverimage {
  color: white;
  padding: 30px;
  background-color: rgb(179, 231, 235);
  background-size:100% 65%;
  background-repeat: no-repeat;
  background-position: top;
}

.Informatica {
  background-image: url("../img/categoryImgs/Informatica_cover.jpeg");
}

.Musica {
  background-image: url("../img/categoryImgs/Musica_cover.jpeg");
}

.Notizie {
  background-image: url("../img/categoryImgs/Notizie_cover.jpeg");
}

.Sport {
  background-image: url("../img/categoryImgs/Sport_cover.jpeg");
}

.Videogiochi {
  background-image: url("../img/categoryImgs/Videogiochi_cover.jpeg");
}

.Scuola {
  background-image: url("../img/categoryImgs/Scuola_cover.jpeg");
}

.Moda {
  background-image: url("../img/categoryImgs/Moda_cover.jpeg");
}

.profileimage {
  margin-top: 70px;
  height: 450px;
  width: 450px;
  border-radius:225px;
  margin-left: 30%;
  margin-right: 30%;
}

.profilebds{
  border-style:solid;
  border-width: 8px;
  border-radius: 225px;
  border-color: white;
}

.profilename{
  font-size:60px;
  font-style: italic;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
}

.modify-image{
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin-left: 20%;
  position: relative;
  top: -50px;
  margin-bottom: 30px;
}

.modify-evidence, .modify-courses, .create-course{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 80%;
  position: relative;
  top: -30px;
  margin-bottom: -30px;
}

.text-modify{
  position: relative;
  top: -80px;
}

.center h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size:35px;
  color:blue;
}

.content-row {
  padding: 70px 7%;
  max-width: 100%;
}

.sized-card-1{
  width: 30%;
  padding: 0px;
  margin-left: 35%;
}

.sized-card-2{
  width: 60%;
  padding: 0px;
  margin-left: 20%;
  margin-right: 0%;
}

.sized-card-3{
  width: 90%;
  padding: 0px;
}

.adattiva{
  width: 100%;
  height: 100%;
  min-width: 170px;
}

.card-header{
  font-size: 18px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.eventi{
  min-width: 75%;
  width: 75%;
  max-height: 600px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color:rgb(112, 27, 231);
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 70px;
  margin-bottom: 70px;
  text-decoration: none;
  overflow: hidden;
}

.bds{
  border-style:ridge;
  border-radius: 20px;
  border-color: blue;
  border-width: thick;
  width: 20px;
}

.courses{
  width: 75%;
  max-height: 600px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: deepskyblue;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 70px;
  margin-bottom: 70px;
  text-decoration: none;
  overflow: hidden;
}

.courses h2, .eventi h2{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  font-weight: bold;
  text-decoration: none;
}

.courses img, .eventi img{
  margin-top: 20px;
  margin-bottom: 20px;
}

.switchcourses{
  margin-left: 12.5%;
  padding-bottom: 50px;
}

.coverimage div{
  color: black;
}

.anteprima{
  max-height: 300px;
}

a{
  text-decoration: none;
}

audio, video{
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .profileimage {
    margin-top: 35px;
    height: 250px;
    width: 250px;
    border-radius:125px;
    margin-left: 30%;
  }
  
  .profilebds{
    border-style:solid;
    border-width: 4px;
    border-radius: 125px;
  }
  
  .profilename{
    font-size:32px;
  }

  .center h1{
    font-size:20px;
  }
  
  .modify-image{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 20%;
    position: relative;
    top: -30px;
    margin-bottom: 0px;
  }
  
  .modify-evidence, .modify-courses, .create-course{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 80%;
    position: relative;
    top: -20px;
    margin-bottom: -20px;
  }
  
  .text-modify{
    position: relative;
    top: -40px;
  }

  .sized-card-1{
    width: 40%;
    margin-left: 30.5%;
  }

  .sized-card-2{
    width: 80%;
    padding: 0px;
    margin-left: 10%;
    margin-right: 0%;
  }

}

@media screen and (max-width: 500px) {
  .profileimage {
    margin-top: 30px;
    height: 200px;
    width: 200px;
    border-radius:100px;
    margin-left: 0%;
    margin-right: 0%;
  }

  .text-modify{
    position: relative;
    top: -40px;
  }

  .modify-image{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 40%;
    position: relative;
    top: -30px;
    margin-bottom: 0px;
  }

  .col {
    margin-bottom: 20px;
  }

  .sized-card-1{
    width: 80%;
    margin-left: 10%;
  }

  .sized-card-2{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .sized-card-3{
    margin-left: 5%;
  }

  .card-body{
    font-size: 0%;
  }

  .col p{
    visibility: hidden;
    font-size: 0%;
    padding: 0%;
    margin: 0%;
  }
}
