
#content {
  
margin:auto;
overflow: hidden;
}
#left{
  
	float: left;
	width: 300px;
	
}
#right {
  margin-top: 30px;
  float:right;
	width:700px;

}
.diagonal-box {
	/*background-image: linear-gradient(45deg, #037ab1, #93eaf0);*/
  background-image: url(../img/J3.png);
  background-size: cover;

  transform: skewX(-11deg);
  margin: 10px;
  margin-left: -100px;
  height: 400px;
  width: 840px;
  transition: width 1s, height 4s;
}
.diagonal-box:hover {
  width: 880px;
  height: 400px;
} 
.content { 	
	max-width: 50em;
    margin:  auto;
    padding-left: 230px; 
    padding-top: 180px;
    transform: skewX(11deg);
}

.diagonal-box-right {
  float: right;
	background-image: linear-gradient(45deg, #fb922fde, #57522d);
 
  transform: skewX(-11deg);
  margin: 10px;

  margin-right: -100px;
  height: 400px;
  width: 880px;
  transition: width 1s, height 4s;
}
.diagonal-box-right:hover {
  width: 920px;
  height: 400px;
} 
.content-right { 	
	max-width: 50em;
    margin:  auto; 
    transform: skewX(11deg);
}

.diagonal-box h1{
  
  font: italic small-caps bold 16px/2 cursive;
  color:  white;
  
  font-size: 30px;
}

.diagonal-box-interna {
	background-image: linear-gradient(45deg, #037ab1, #93eaf0);
  padding: 30px;
  text-align: right;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  transform: skewX(-11deg);
  opacity: 90%;
  margin-left: -200px;
  height: 250px;
  width: 300px;
  transition: width 1s, height 4s;
}
.diagonal-box-interna:hover {
  width: 450px;
  height: 250px;
}

.diagonal-box-right-interna {
  float: right;
	background-image: linear-gradient(45deg, #93eaf0, #037ab1);
  opacity: 90%;
  transform: skewX(-11deg);
  margin: 230px; 
  text-align: left;
  padding: 20px;
  padding-right: 100px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  margin-right: -100px;
  margin-top: 30px;
  height: 250px;
  width: 500px;
  transition: width 1s, height 4s;
}
.diagonal-box-right-interna:hover {
  width: 900px;
  height: 250px;
} 






.div-info {
    margin:0 auto 0;
    width: 300px;
    height: 200px;
    background: rgb(66, 66, 66);
    transition: width 2s, height 4s;
  }
  
.div-info:hover {
    width: 400px;
    height: 400px;
  }
.div-info-center {
    margin:0 auto 0;
    width: 200px;
    height: 200px;
    background: rgb(66, 66, 66);
    transition: width 2s, height 4s;
  }
  
.div-info-center:hover {
    width: 400px;
    height: 400px;
  }

.table{
    position: relative;
    
}

.div-info-text {
    position: relative;
    padding-left: 50px;
    margin-top: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;
    text-transform: uppercase;
  }
.homepage{
  /*background-image: linear-gradient(to right,rgb(61, 60, 60),#bee5f5,rgb(61, 60, 60));*/
  background-color: whitesmoke;
  padding-right: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}
.info{
  border: 8px solid transparent;
}

.info-sito{
  padding-left: 10px;
  height: 600px;
  width: auto;
  border-style: solid;
  border: 4px solid rgb(61, 60, 60);
  border-radius: 20px;
  background-image: url("../img/sfondoHomepage1.png");
  background-size: cover;
}
.div-info-sito-text {
  position: relative;
  padding-left: 50px;
  margin-top: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
}



.popolari{
  height: auto;
  width: auto;
  
}

.popolari h5{
  padding-left: 20px;
  padding-bottom: 10px;
  color:black;
  font-family: 'Arvo', serif;
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
  
  text-shadow: 10px 11px 18px blue,-10px -11px 18px blue;
}


  .body h5{
  padding-left: 20px;
  padding-bottom: 10px;
  color:black;
  font-family: 'Arvo', serif;
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
  
  text-shadow: 10px 11px 18px blue,-10px -11px 18px blue;
}


/*.card {
  
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 70%;
  height: 350px;
  margin: auto;
  text-align: left;
  font-family: arial;
}

.categoria {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 20%;
  font-size: 18px;
}*/

.card button:hover {
  opacity: 0.7;
}







#user{
  font-size:200px;
  color: white;
  text-align: center;
  margin: auto;
  display: inline-block;
  text-decoration: none;
  margin-left: 30%;
  margin-right: 30%;
}

/*#imgcorso{
  width: 300px;
  height: 300px;
  background-size: contain;
  background-color:transparent;

}*/

h3{
  color: white;
  text-align: center;
}

.card{
  width: 100%;
  box-shadow: 10px 10px 5px grey;
}

.card-title{
  font-family: 'Arial Black';
  text-align: center;
}

.profileimage {
  margin-top: 70px;
  height: 450px;
  width: 450px;
  border-radius: 225px;
  margin-left: 30%;
  margin-right: 30%;
}

#treD1 {
  margin-top: 20px;
  color: #fff;
    text-shadow: 0 1px 0 #999, 
        0 2px 0 #888, 
        0 3px 0 #777, 
        0 4px 0 #666, 
        0 5px 0 #555, 
        0 6px 0 #444, 
        0 7px 0 #333, 
        0 8px 7px #001135;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
}



#imgcorso{
  display: block;
  text-align: center;

}
#profilocorso{
  margin-top: 20px;
  height: 200px;
  width: 200px;
  border-radius: 150px;
}

.categoria {
  color: grey;
  font-size: 22px;
}


