*{box-sizing: border-box;}
.form-Register {
  position: relative;
  max-width: auto;
  padding: 100px 50px;
  background-image: url(/public/img/sfondoRegistrazione.png);
  background-size: cover;
}
.form-Register:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right bottom,rgba(43, 44, 78, .5),rgba(104, 22, 96, .5));
}
.form-Login {
  position: relative;
  max-width: auto;
  
  padding: 100px 50px;
  background-image: url(/public/img/sfondoRegistrazione.png);
  background-size: cover;
}
.form-Login:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right bottom,rgba(43, 44, 78, .5),rgba(104, 22, 96, .5));
}
.form-inner {position: relative;}
.form-inner h3 {
  position: relative;
  margin-top: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
} 

#linea{
  width: 150px;
  height: 3px;
  margin: auto;
  color: #1762EE;
  opacity: 100%;
  margin-bottom: 10px;
}
/*.form-inner h3:after {
  content: "";
  position :absolute;
  left: 45%;
  bottom: -6px;
  height: 2px;
  width: 150px;
  background: #1762EE;
} */
.form-inner h4 {
  font-size: xx-small;
}
.form-inner label {
  display: block;
  position:relative;
  padding-left: 160px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: rgba(255,255,255,.6);
  text-transform: uppercase;
  font-size: 14px;
}
.form-inner input {
  display: block;
  position:relative;
  width: 80%;
  padding: 0 15px;
  margin: 10px auto 15px;
  border-width: 0;
  line-height: 40px;
  border-radius: 20px;
  color: white;
  background: rgba(255,255,255,.2);
  font-family: 'Roboto', sans-serif;
}

.form-check {
  margin-left: 10%;
  line-height: 40px;
}
.form-check input{
  width: auto;
  padding:.5em;
  line-height: 0px;
}

.form-check label{
  margin-left: 10px;
  padding: 0px;
}
/*.form-inner input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}*/
/* unvisited link */
.form-inner a:link {
  color: #1762EE;
}

/* visited link */
.form-inner a:visited {
  color: #1762EE;
}

/* mouse over link */
.form-inner a:hover {
  color: black;
}

/* selected link */
.form-inner a:active {
  color: red;
} 
/*#custom-checkbox + label {
  position: relative;
  margin: 20px 0;
  text-transform:none;
  cursor: pointer;
}
#custom-checkbox + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: text-top;
  background: white;
}
#custom-checkbox:checked + label:before {background: #1762EE;}
#custom-checkbox:checked + label:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  left: 20px;
  top: 9px;
  background: white;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}*/
.form-inner input[type="submit"] {
  background: #1762EE;
}
.form-inner input[type="button"] {
  background: #1762EE;
}
.pippo{
  color: black;
  font-size: medium;
}

::placeholder{
  color: lightgray;
}

@media (max-width: 544px){
  .alert-success{
    font-size: 13px;
  }
}
