.card{
    box-shadow: 10px 10px 5px;
}

h3{
    color: white;
    text-align: center;
}

.card{
    width: 100%;
}

.card-title{
    font-family: 'Arial Black';
    text-align: center;
}

#fig{
    display: block;
    text-align: center;
    background-color: #48cae4;
}

img{
    margin-top: 20px;
}

#nome{
    color: white;
    font-family: 'Arial Black';
    font-size: large;
}

body{
    background-color: #48cae4;
}

#titolo{
    margin-top: 20px;
    color: #fff;
    text-shadow: 0 1px 2px #999, 
        0 2px 2px #888, 
        0 3px 2px #777, 
        0 4px 2px #666, 
        0 5px 2px #555, 
        0 6px 2px #444, 
        0 7px 2px #333, 
        0 8px 7px #001135;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

#imgcorso{
    display: block;
    text-align: center;

}
#profilocorso{
    margin-top: 20px;
    height: 200px;
    width: 200px;
    border-radius: 150px;
}

.categoria {
    color: grey;
    font-size: 22px;
  }

/*.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 20%;
    font-size: 18px;
  }*/
  
  .card button:hover {
    opacity: 0.7;
  } 