.card{
    box-shadow: 10px 10px 5px;
}

h3{
    color: white;
    text-align: center;
}

.card{
    width: 100%;
}

.card-title{
    font-family: 'Arial Black';
    text-align: center;
}

#fig{
    display: block;
    text-align: center;
    background-color: #48cae4;
}

img{
    margin-top: 20px;
}

#nome{
    color: white;
    font-family: 'Arial Black';
    font-size: large;
}

body{
    background-color: #48cae4;
}

#titolo{
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Arial Black';
}

#imgcorso{
    display: block;
    text-align: center;

}
#profilocorso{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin-bottom: 20px;
}

.categoria {
    color: grey;
    font-size: 22px;
  }

/*.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 20%;
    font-size: 18px;
  }*/
  
  .card button:hover {
    opacity: 0.7;
  } 